.container-fluid {
    background-color: #015668;
    padding: 0 5%;
}

#title {
    padding: 5%;
}

.header-col {
    padding-bottom: 50px;
}

.page-head {
    font-family: "Montserrat", sans-serif;
    font-size: 2.2rem;
    line-height: 1.5;
    color: white;
    margin-right: 10px;
    font-weight: 700;
    padding: 65px 0 15px 0;
}

.title-img {
    border-radius: 12px;
    height: auto;
    max-width: 100%;
    box-shadow: 20px 20px #2b474d, 40px 40px #263f44,
        20px 20px rgba(0, 0, 0, 0.2), 40px 40px rgba(0, 0, 0, 0.2),
        0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 60px;
    transition: 0.5s;
}

.title-img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title-img:active {
    transform: scale(1.01);
}
