#navbar {
    margin: 0 6% 0 5%;
    padding-bottom: 2%;
}

.navbar-toggler {
    margin-top: 25px !important;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    letter-spacing: 10px;
    background: #004352;
    padding: 5px 15px 5px 25px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.2s;
    margin-top: 20px;
}

.navbar-brand:hover {
    transform: scale(1.03);
}

.navbar-brand:active {
    transform: scale(0.95);
}

.nav-item {
    padding-right: 20px;
    padding-top: 22px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
}

.fa-desktop {
    margin-left: 12px;
    margin-top: 1px;
}

@media (max-width: 767px) {
    #navbar {
        padding-bottom: 5%;
    }
}